
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0")
	
	script
		:coffee-script
			port = 35729
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")

	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script
		:coffee-script
			$ ->

				window.forms = {}

				fields = 

					'email':
						rules:
							email: true

					'password': true


				window.forms['login'] = new Form

					formName: 'login'
					formEl: '.form'
					submitEl: '.submit a'
					fields: fields
					fieldsOptions:
						rules:
							required: true

					onInit: ->

						self = @


					onSubmit: (data) ->

						self = @

						self.form.find('.errors').empty()

					onSuccess: (data) ->

						self = @

						@submit(false)
						@preloader(true)

						# API.success ->
						# self.submit(true)
						# self.preloader(false)

					onFail: (errors) ->

						self = @

						self.form.find('.errors').html "Исправьте ошибки в форме"

					onReset: ->

						@submit(false)
						@preloader(false)

				return

body

	.form

		.field
			.label Email
			input(type='text', name='email')
			.error.error-email

		.field
			.label Пароль
			input(type='password', name='password')
			.error.error-password

		.field
			.errors


		.field
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


