
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
	
	script
		:coffee-script
			port = 777
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")

	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script
		:coffee-script
			$ ->

				fields = 

					'firstname':
						rules:
							required: true

					'lastname':
						rules:
							required: true

					'password':
						rules:
							required: true

					'password-confirmation':
						rules:
							required: true
							compare:
								val: -> formValidator.get('password')

					'email':
						rules:
							required: true
							email: true

					'agree':
						rules:
							required: true

				formValidator = new Form

					logs: true
			
					formName: 'registration'
					formEl: '.form'
					submitEl: '.submit a'
					fields: fields
					fieldsOptions:
						escape: true

					onInit: ->
					onSubmit: (data) ->

						@form.find('.errors').empty()

					onSuccess: (data) ->

						@lockSubmit()
						@showPreloader()

						# API.success ->
						# @unlockSubmit()
						# @hidePreloader()

					onFail: (errors) ->

						@form.find('.errors').html "Исправьте ошибки в форме"

				return

body

	.form

		.field
			.label Имя
			input(type='text', name='firstname')
			.error.error-firstname

		.field
			.label Фамилия
			input(type='text', name='lastname')
			.error.error-lastname

		.field
			.label Email
			input(type='text', name='email')
			.error.error-email


		.field
			.label Пароль
			input(type='password', name='password')
			.error.error-password

		.field
			.label Повторение пароля
			input(type='password', name='password-confirmation')
			.error.error-password-confirmation


		.field
			.field-group
				span Я согласен
				input(type="checkbox", name="agree", value="1", checked=true)
			.error.error-agree

		.field
			.errors


		.field
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


