
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
	
	script
		:coffee-script
			port = 777
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")

	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script
		:coffee-script
			$ ->

				window.forms = {}

				fields = 

					'password':
						rules:
							min: 3

					'password-confirmation':
						rules:
							required: true
							compare:
								val: -> formValidator.fields['password'].val()

					'email':
						rules:
							email: true


				window.forms['registration'] = new Form

					logs: true
			
					formName: 'registration'
					formEl: '.form'
					submitEl: '.submit a'
					autoFields: true
					fields: fields
					fieldsOptions:
						escape: true
						style: true
						autoErrors: true
						clearErrorsInFocus: true

						rules:
							required: true

					onInit: ->

						self = @

					onSubmit: (data) ->

						self = @

						self.form.find('.errors').empty()

					onSuccess: (data) ->

						self = @

						self.lockSubmit()
						self.showPreloader()

						# API.success ->
						# self.unlockSubmit()
						# self.hidePreloader()

					onFail: (errors) ->

						self = @

						self.form.find('.errors').html "Исправьте ошибки в форме"

				return

body

	.form

		.field
			.label Имя
			input(type='text', name='firstname')
			.error.error-firstname

		.field
			.label Фамилия
			input(type='text', name='lastname')
			.error.error-lastname

		.field
			.label Email
			input(type='text', name='email')
			.error.error-email


		.field
			.label Пароль
			input(type='password', name='password')
			.error.error-password

		.field
			.label Повторение пароля
			input(type='password', name='password-confirmation')
			.error.error-password-confirmation


		.field
			.field-group
				span Я согласен
				input(type="checkbox", name="agree", value="1", checked=true)
			.error.error-agree

		.field
			.errors


		.field
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


