
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no")

	script
		:coffee-script
			port = 777
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")
	script(type="text/javascript", src="js/jquery.tinyscrollbar.min.js")

	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script
		:coffee-script
			$ ->

				scroll = (el) ->

					$select = el

					$selected = $select.find('[data-selected]')
					$options 	= $select.find('[data-options]')
					$options.wrapInner """
						<div class="viewport"><div class="overview"></div></div>
					"""
					$options.prepend """
						<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
					"""

					browserIsMobile = false

					scrollbar = $options.tinyscrollbar({sizethumb: 44,invertscroll:browserIsMobile})
					$selected.click -> scrollbar.tinyscrollbar_update()
					return

				window.forms = {}

				window.forms['form-1'] = new Form

					logs: true

					formName: 'form 1'
					formEl: '.form-1'
					submitEl: '.submit a'
	
					fieldsOptions:
						defaultStyle: 'Выбрать'
						rules:
							required: true
						
					onInit: ->

						self = @

						self.fields['dropdown'].el.on 'style', ->
							scroll(self.fields['dropdown'].sel)

						self.fields['dropdown'].el.on 'change', (e,data) ->
							forms['form-2'].fields['dropdown-2'].val(data.val)

					onSubmit: (data) ->

						self = @

						self.form.find('.errors').empty()

					onSuccess: (data) ->

						self = @

						self.lockSubmit()
						self.showPreloader()

						# API.success ->
						# self.unlockSubmit()
						# self.hidePreloader()

					onFail: (errors) ->

						self = @

						self.form.find('.errors').html "Исправьте ошибки в форме"

					onReset: ->

						@hidePreloader()

				window.forms['form-2'] = new Form

					logs: true

					formName: 'form 2'
					formEl: '.form-2'
					submitEl: '.submit a'
					fieldsOptions:
						defaultStyle: 'Выбрать'


					onInit: ->

						self =  @

						self.fields['dropdown-2'].el.on 'style', ->
							scroll(self.fields['dropdown-2'].sel)


				window.reset = ->
					window.forms['form-1'].reset()

				window.reset2 = ->
					window.forms['form-2'].reset()

				return

body

	.form.form-1

		.field
			.label dropdown
			select(name="dropdown")
				option() Выбрать
				option(value="1") 1
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
				option(value="6") 6
			.error.error-dropdown

		.field.error-list
			.errors

		.field

			.reset
				a(href="#" onclick="reset();return false") Сбросить
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div

	.form.form-2

		.field
			.label dropdown 2
			select(name="dropdown-2")
				option(selected=true) Выбрать
				option(value="1") 1
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
				option(value="6") 6
			.error.error-dropdown-2

		.field.error-list
			.errors

		.field

			.reset
				a(href="#" onclick="reset2();return false") Сбросить
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


