
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0")
	
	script
		:coffee-script
			port = 777
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")

	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script
		:coffee-script
			$ ->

				window.forms = {}

				fields = 

					'test-1':
						rules: required: true

					'test-2':
						rules: not: ['test']

					'test-3':
						rules: numeric: true

					'test-4':
						rules: numericDash: true

					'test-5':
						rules: alpha: true

					'test-6':
						rules: eng: true

					'test-7':
						rules: cyrillic: true

					'test-8':
						rules: engDash: true

					'test-9':
						rules: engNumeric: true

					'test-10':
						rules: max: 3

					'test-11':
						rules: min: 3

					'test-12':
						rules: email: true

					'test-13':
						rules: url: true

					'test-14':
						rules: compare: field: 'test-13'


					'test-15':
						rules: pass1: true

					'test-16':
						rules: pass2: true

					'test-17':
						rules: pass3: true

					'test-18':
						rules: pass4: true


				window.forms['test'] = new Form

					logs: true

					formName: 'test'
					formEl: '.form'
					submitEl: '.submit a'
					autoFields: true
					fields: fields
					fieldsOptions:
						escape: true
						autoErrors: true
						clearErrorsInFocus: true

					onInit: ->

						self = @

					onSubmit: (data) ->

						self = @

					onSuccess: (data) ->

						self = @

					onFail: (errors) ->

						self = @

					onReset: ->

						self = @

				return

body

	.form

		.field
			.label required
			input(type='text', name='test-1')
			.error.error-test-1

		.field
			.label not test
			input(type='text', name='test-2')
			.error.error-test-2
		
		.field
			.label numeric
			input(type='text', name='test-3')
			.error.error-test-3

		.field
			.label numericDash
			input(type='text', name='test-4')
			.error.error-test-4

		.field
			.label alpha
			input(type='text', name='test-5')
			.error.error-test-5

		.field
			.label eng
			input(type='text', name='test-6')
			.error.error-test-6

		.field
			.label cyrillic
			input(type='text', name='test-7')
			.error.error-test-7

		.field
			.label engDash
			input(type='text', name='test-8')
			.error.error-test-8

		.field
			.label engNumeric
			input(type='text', name='test-9')
			.error.error-test-9

		.field
			.label max 3
			input(type='text', name='test-10')
			.error.error-test-10

		.field
			.label min 3
			input(type='text', name='test-11')
			.error.error-test-11

		.field
			.label email
			input(type='text', name='test-12')
			.error.error-test-12

		.field
			.label url
			input(type='text', name='test-13')
			.error.error-test-13

		.field
			.label compare test-13
			input(type='text', name='test-14')
			.error.error-test-14


		.field
			.label 1 Alphabet and 1 Number
			input(type='text', name='test-15')
			.error.error-test-15

		.field
			.label 1 Alphabet, 1 Number and 1 Special Character
			input(type='text', name='test-16')
			.error.error-test-16

		.field
			.label1 Uppercase Alphabet, 1 Lowercase Alphabet and 1 Number
			input(type='text', name='test-17')
			.error.error-test-17

		.field
			.label 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character
			input(type='text', name='test-18')
			.error.error-test-18



		.field
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


